In [11]:
def is_even(num):
    '''hi im pintya'''
    if type(num)== int:
      if num%2==0:
        return 'num is even'
      else:
        return 'num is odd'
    else:
        return" invalid input"
is_even(45)

'num is odd'

In [9]:
for i in range(1,11):
    x= is_even(i)
    print(x)

num is odd
num is even
num is odd
num is even
num is odd
num is even
num is odd
num is even
num is odd
num is even

In [12]:
is_even.__doc__

'hi im pintya'

In [17]:
def power(n,x):
    s = n**x
    return s
power(9,7)

4782969

216

In [21]:
def power(a=1,b=1):
    return a**b
power()

1

In [24]:
def mul(a=1,b=1,c=1):
    return a*b*c
mul(4,5,3)

60

In [33]:
def multi(*args):
    product = 1
    for i in (args):
        product *= i
    print(args)   
    return product   

multi(8,4,2,6,3,2)

(8, 4, 2, 6, 3, 2)

2304

In [36]:
def display(**kwargs):
    for key,value in kwargs.items():
        print(f'{key} ---> {value}')

display(india='delhi',srilanka='colmbo',nepal='katmandu',pakistan='isalamabad')

india ---> delhi
srilanka ---> colmbo
nepal ---> katmandu
pakistan ---> isalamabad

In [37]:
#function witout statment
l=[1,2,3,4]
print(l.append(5))

None

In [6]:
n=lambda x: 'even' if x%2==0 else 'odd'
n(4)

'even'

In [15]:
def cube(li):
    for i in li:
        i=i**3
        print(i)
    
li=[2,3,4,5]    
cube(li)

8
27
64
125

In [11]:
def trans (f,l):
    output=[]
    for i in l:
        output.append(f(i))
    print(output)    
l=[2,3,5,4,6]    
trans(lambda x:x**3,l)

[8, 27, 125, 64, 216]

In [20]:
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [23]:
list(map(lambda x:'even'if x%2==0 else 'odd',[1,2,3,4]))

['odd', 'even', 'odd', 'even']

In [37]:
user=[{
    'name':'rahul',
    'age':23,
    'gender':'male'
},
{
    'name':'aniket',
    'age':24,
    'gender':'male'
},
{
    'name':'riya',
    'age':21,
    'gender':"female"
}]

list(map(lambda x: x['name'],user))

['rahul', 'aniket', 'riya']

In [39]:
l=[1,4,6,3,9,3,6,23,43,14]
list(filter(lambda x:x>5,l))

[6, 9, 6, 23, 43, 14]

In [47]:
fruits=['apple','cherry','kiwi']
list(filter(lambda x:x.startswith('c'),fruits))

['cherry']

In [48]:
import functools as fc
fc.reduce(lambda x,y:x+y ,[1,2,3,4,5])

15

In [60]:
l =[44,69,35,83,56,43,65,32]
fc.reduce(lambda x,y:x if x<y else y,l)

32

In [ ]:
print("Hello")